{% load static aceshigh_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Aces High{% endblock %}</title>
  {% aceshigh_imports %}
  {% block extra_head %}{% endblock %}    
  {% block extra_style %}{% endblock %}
  <style>
  </style>
</head>

<body>
  {% block page %}
  {% block content %}{% endblock %}
  {% endblock %}

  {% aceshigh_scripts %}
  {% block extra_js %}{% endblock %}
</body>

</html>