{% load static aceshigh_tags crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Ace Editor with Crispy Forms</title>
    {% aceshigh_imports %}
    {% aceshigh_scripts %}
</head>
<body>
    <div class="container m-5 p-5"> 
        <h1>My Model Form with Ace Editor</h1>
        <form method="post">
            {% csrf_token %}
            {{ form2|crispy }}
            <button type="submit">Submit</button>
        </form>
    </div>    
    
</body>
</html>