{% extends "aceshigh/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Add Snippet{% endblock %}
{% block content %}
<div class="container my-5">
    <div class="text-center mb-4">
        <a href="{% url 'aceshigh:edit_profile' %}"><img src="{% static 'aceshigh/images/logo.png' %}" alt="AcesHigh Logo" style="max-width: 150px;"></a>
        <h1 class="display-4 mt-3">AcesHigh Editor Profile</h1>
        <p class="lead">Customize your editing experience with ACE Editor settings.</p>
    </div>
    <h2>Add Snippet</h2>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="text-end">
            <button style="width: 200px;" type="submit" class="btn btn-success mx-3">Save</button>
            <a style="width: 200px;" href="{% url 'aceshigh:edit_profile' %}" class="btn btn-secondary">Cancel</a>                        
        </div>
    </form>
    <footer class="mt-5 text-center">
        <p>Learn more about <a href="https://ace.c9.io/#nav=howto">ACE Editor Snippets</a></p>
    </footer>
</div>
{% endblock %}

{% block extra_js %}
<script src='https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ace.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ext-language_tools.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/mode-snippets.min.js'></script>
{% endblock %}