{% extends "aceshigh/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Edit Profile{% endblock %}
{% block content %}
<div class="container my-5">
    <div class="text-center mb-5">
        <a href="{% url 'aceshigh:edit_profile' %}"><img src="{% static 'aceshigh/images/logo.png' %}"
                alt="AcesHigh Logo" style="max-width: 150px;"></a>
        <h1 class="display-4 mt-3">AcesHigh Editor Profile</h1>
        <p class="lead">Customize your editing experience with ACE Editor settings.</p>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4 d-flex align-items-stretch">
            <div class="card w-100 shadow-sm mb-5">
                <div class="card-body">
                    <h2 class="card-title mb-3">Default Settings</h2>
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input type="hidden" name="next" value="{{ next|default:"" }}">       
                        <button type="submit" class="w-100 btn btn-primary">Save</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4  d-flex align-items-stretch">
            <div class="card w-100 shadow-sm mb-5">
                <div class="card-body">
                    <div class="row">
                        <div class="col-8">
                            <h2>Mode Profiles</h2>
                        </div>
                        <div class="col-4 text-end">
                            <a href="{% url 'aceshigh:add_mode_profile' %}" class="text-primary"><i class="fa-solid fa-circle-plus"></i></a>
                        </div>
                    </div>                    
                    <ul class="list-group mb-4">
                        {% for mode_profile in mode_profiles %}
                        <li class="list-group-item d-flex justify-content-between align-items-center my-2 shadow-sm">
                            <div>
                                <a class="text-decoration-none" href="{% url 'aceshigh:edit_mode_profile' mode_profile.id %}">
                                    <div class="mb-1 h5 text-uppercase">{{ mode_profile.mode }}</div>
                                    <div class="text-muted small">{{mode_profile.font_size}}px - {{ mode_profile.theme|title }}</div>
                                </a>
                            </div>
                            <div class="text-end">
                                <a href="{% url 'aceshigh:edit_mode_profile' mode_profile.id %}"
                                    class="text-primary mx-2"><i class="fa fa-edit"></i></a>
                                <form action="{% url 'aceshigh:delete_mode_profile' mode_profile.id %}" method="post"
                                    class="d-inline">
                                    {% csrf_token %}
                                    <a class="text-muted" onclick="$(this).closest('form').submit();"><i class="fa fa-trash"></i></a>
                                </form>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4 d-flex align-items-stretch">
            <div class="card w-100 shadow-sm mb-5">
                <div class="card-body">
                    <div class="row">
                        <div class="col-8"><h2 class="mb-3">Snippets</h2></div>
                        <div class="col-4 text-end">
                            <a href="{% url 'aceshigh:import_snippets' %}" class="text-primary mx-2"><i class="fa-solid fa-file-arrow-down"></i></a>        
                            <a href="{% url 'aceshigh:export_snippets' %}" class="text-primary mx-2"><i class="fa-solid fa-file-arrow-up"></i></a>                            
                            <a href="{% url 'aceshigh:add_snippet' %}" class="text-primary"><i class="fa-solid fa-circle-plus"></i></a>
                        </div>
                    </div>
                    
                    <form method="get" class="m-0">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search snippets..." name="q"
                                value="{{ search_query|default:'' }}">
                            <button class="btn btn-outline-secondary" type="submit">Search</button>
                        </div>
                    </form>
                    <div class="tag-cloud">
                        {% for tag, count in tag_cloud.items %}
                        <a href="?q={{ tag }}" class="badge badge-primary mx-2" style="font-size: 14px;">{{ tag }}</a>
                        {% endfor %}
                    </div>

                        {% for snippet in snippets %}
                        <div class="card my-2 p-1 shadow-sm">
                            <div class="p-1">
                                <div class="row">
                                    <div class="col-8"><a class="text-decoration-none" href="{% url 'aceshigh:edit_snippet' snippet.id %}"><h6 class="text-uppercase">{{ snippet.title }}</h6></a></div>
                                    <div class="col-4 text-end">
                                        <a href="{% url 'aceshigh:edit_snippet' snippet.id %}" class="text-primary mx-2"><i class="fa fa-edit"></i></a>
                                        <form action="{% url 'aceshigh:delete_snippet' snippet.id %}" method="post"
                                            class="d-inline">
                                            {% csrf_token %}
                                            <a class="text-muted me-2" onclick="$(this).closest('form').submit();"><i class="fa fa-trash"></i></a>
                                        </form>
                                    </div>
                                </div>                                
                                <small>Mode: {{ snippet.mode }}</small>
                                <div class="mt-1">
                                    {% for tag in snippet.tags.all %}
                                    <a href="?q={{ tag }}" class="badge bg-primary text-light me-2 small text-decoration-none">{{ tag.name }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-12">

            <footer class="mt-5 text-center">
                <p><a href="https://github.com/weholt/aceshigh">Source Code</a> | <a href="https://weholt.org">Weholt
                        Development Labs</a></p>
                <p>This project is licensed under the GNU Affero General Public License v3.0 or later
                    (AGPL-3.0-or-later).</p>
            </footer>
        </div>


    </div>
</div>
{% endblock %}