{% load ace_editor_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ace Editor Custom Snippets Example</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ace.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ext-language_tools.js"></script>
</head>
<body>
    <div id="editor" style="height: 300px; width: 600px;"></div>
    <script>
        // Initialize the Ace Editor
        const editor = ace.edit("editor");
        editor.setTheme("ace/theme/monokai");
        editor.session.setMode("ace/mode/javascript");
        editor.setOptions({
            enableBasicAutocompletion: true,
            enableSnippets: true,
            enableLiveAutocompletion: true
        });

        editor.completers = [{
    getCompletions: function(editor, session, pos, prefix, callback) {
        var completions = [
            {
                caption: "my caption",
                snippet: "content: '$1'",
                meta: "snippet",
                type: "snippet"
            }, {
                caption: "my value",
                snippet: "t-field='$1' t-type='${2:string}'",
                meta: "snippet",
                type: "snippet"
            }
        ];
        callback(null, completions);
    },
    getDocTooltip: function(item) {
        if (!item.docHTML) {
            item.docHTML = [
                "<b>", item.caption, "</b>",
            ].join("");
        }
    }
}];
    </script>
</body>
</html>
