{% extends "admin/base_site.html" %}
{% load static %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<div id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></div>
{% if user.is_anonymous %}
  {% include "admin/color_theme_toggle.html" %}
{% endif %}
{% endblock %}

{% block nav-global %}{% endblock %}


{% block extrahead %}
    {{ block.super }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.9.6/ace.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.9.6/ext-language_tools.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.9.6/snippets/javascript.js" defer></script>
    <script src="https://unpkg.com/htmx.org@1.4.1" defer></script>
    <script src="{% static 'aceshigh/js/system.js' %}" defer></script>
    <link rel="stylesheet" href="{% static 'aceshigh/css/system.css' %}">
{% endblock %}
