{% extends "wagtailadmin/base.html" %}
{% load static %}

{% block extrahead %}
    {{ block.super }}
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.9.6/ace.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.9.6/ext-language_tools.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.9.6/snippets/javascript.js" defer></script>
    <script src="https://unpkg.com/htmx.org@1.4.1" defer></script>
    <script src="{% static 'aceshigh/js/system.js' %}" defer></script>
    <link rel="stylesheet" href="{% static 'aceshigh/css/system.css' %}">-->
{% endblock %}
